@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: 'Inter', 'Noto Sans SC', 'Microsoft YaHei', sans-serif;
  background-color: #020617;
}